# These requirements are only for testing and local dev work.
# Packages that pylangacq depends on (if any) should be specified in setup.cfg instead.
#
# For tests
black==21.12b0
build==0.7.0
flake8==4.0.1
pytest==6.2.5
pytest-cov==3.0.0
sybil==3.0.0
twine==3.7.1
#
# For docs
furo==2021.11.23
m2r2==0.3.2
numpydoc==1.1.0
Sphinx==4.3.2
sphinx-sitemap==2.2.0
