# These requirements are only for testing and local dev work.
# Packages that pylangacq depends on (if any) should be specified in setup.cfg instead.
#
# For tests
black==22.1.0
build==0.7.0
flake8==4.0.1
pytest==7.1.0
sybil==3.0.1
twine==3.8.0
#
# For docs
furo==2022.3.4
m2r2==0.3.2
numpydoc==1.2
Sphinx==4.4.0
sphinx-sitemap==2.2.0
